{% extends "base.html" %}


{% block title %}
CodeCoach AI
{% endblock %}


{% block content %}


<div class="hero">

    <h1>
        Your AI Programming Mentor
    </h1>


    <p>
        Get instant feedback on your code,
        understand mistakes, and improve your programming skills.
    </p>


    <a href="/analyze">
        <button>
            Analyze My Code
        </button>
    </a>

</div>



<h2>Features</h2>


<div class="card">

    <h3>AI Explanations</h3>

    <p>
        Llama AI explains your code in beginner-friendly language.
    </p>

</div>



<div class="card">

    <h3>Bug Detection</h3>

    <p>
        Automatically finds common programming mistakes.
    </p>

</div>



<div class="card">

    <h3>Course-Aware Feedback</h3>

    <p>
        Designed for programming courses like CS116 and CS136.
    </p>

</div>



<div class="card">

    <h3>Code Quality Score</h3>

    <p>
        Receive a score based on readability and correctness.
    </p>

</div>


{% endblock %}